.Aboutsection {
	padding: 25px;
}
.Aboutsection > div {
	/* margin: 0 auto; */
	text-align: center;
	color: #FFF;
}
.Aboutsection {
	hr{ 
		border-color: #fff !important;
    background: #FFF;
    width: 50%;
	}
}
.Title {
	padding: 20px;
	font-size: 47px;
}
.about_div{
	font-size: 21px;
    width: 80%;
    line-height: 42px;
    padding: 14px;
    margin: 0 auto;
}