@import "../css/utils/variables.scss";

.ContactSection{
	padding: 40px 20px;
	text-align: center;
	color: $myWhite;
	a {
		display: inline-block;
	}
}
.linkedin{
	background-image: url(../img/in2.png);
	background-size: cover;
	width: 100px;
	height: 100px;
	display: block;
}
.github{
	background-image: url(../img/git.png);
	background-size: cover;
	width: 120px;
	height: 120px;
	display: block;
}
.callme{
	font-size: 25px;
	padding: 20px;
	color: white;
}
.emailme{
	font-size: 29px;
	padding: 40px;
	color: white;
}