{
    "extends": [
      "xo",
      "xo-react"
    ],
    "parser": "babel-eslint",
    "parserOptions": {
      "ecmaFeatures": {
        "experimentalObjectRestSpread": true,
        "ecmaFeatures": {
          "jsx": true
        }
      }
    },
    "rules": {
      "new-cap": 0,
      "react/no-unused-prop-types": 0,
      "react/forbid-component-props": 0,
      "react/destructuring-assignment": 0,
      "react/jsx-one-expression-per-line": 0
    },
    "globals": {
      "window": true,
      "document": true,
      "fetch": true,
      "google": true
    },
    "plugins": [
      "react",
      "babel",
      "import"
    ]
}
