/*Metlife Color Scheme*/

/*Primary Colors*/
$mlBlueMaretingTiles: #0090da;
$mlBlueButtonAndLinks: #007abc;
$mlDarkBlue: #0061a0;
$mlGreen: #a4ce4e;
$mlWhite: #FFF;
$mlBlack: #000;

/* Secondary Colors */
$mlDarkGray: #75787b;
$mlMediumGray: #a7a8aa;
$mlGray: #d9d9d6;
$mlLightGray: #f2f2f2;
$mlBerry: #db0a5b;
$mlPurple: #5f259f;
$mlYellow: #ffc600;
$mlTeal: #00aca0;

/* font family */
$mlHeaderFont: Georgia,Times,Times New Roman,serif; 
$mlBody: 'Noto Sans', sans-serif; 



